.about{
  width: 100%;
  height: 100vh;
  background-color : #111;
  color:#aaa;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* align-items: center; */
  overflow: hidden;

}
.marquee{
  min-width: 200%;
  height: 100%;
  /* align-items: center; */
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.marquee-wraper{
  /* min-width: 100%; */
  
  white-space: nowrap;
  /* left: 50%; */
  transform: translate(0% ,30%);
  font-size: 5rem;
  font-weight: 900;
  cursor: pointer;

}

.marquee:hover{
  color: #cb450c;

}
.marquee-wraper .underLine{
  width: 100%;
  height: 2%;
  background-color: #ccc;
  
}

.contact{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 1.3rem;
  font-weight: 600;
  padding: 5%;


}
/* .text{
  display: flex;
  flex-direction: row;
  justify-content: center;
} */

.mail{
  border: 0;
  background-color: transparent;
  font-size: 1.3rem;
  font-weight: 600;
  color: #ccc;
display: flex;
  justify-content: center;
  cursor: pointer;


}



.email:hover .to-copy{
    opacity: 1;
    visibility: visible;
    cursor: pointer;
}

.to-copy{
  /* color: #ccc; */
  opacity: 0;
  justify-content: center;

  visibility: hidden;
  /* z-index: 9; */
  margin-left: 10px;
  /* border: 1px solid #ccc; */
  /* padding: 3px; */
  /* border-radius: 50px; */
}

@media screen and (max-width: 900px) {
  .marquee-wraper{
    font-size: 3.5rem;
    font-weight: 700;
  
  }

  .to-copy{
    /* color: #ccc; */
  display: none;
  }
  .email{
    font-size: 1.1rem;
  }
  .contact{
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 600px) {
  .marquee-wraper{
    font-size: 2.5rem;
    font-weight: 500;
  
  }
  .email{
    font-size: 1rem;
  }
  .contact{
    font-size: 1rem;
  }
}