.resume{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate('50%','-50%');
}

.resume-card{
 width : 100%;
}
.card-header{
  font-size: 4rem;
  font-weight: 900;
}

.card-body{
  display: flex;
  flex-direction: column;
  align-items: center;
}